{% if menu %}
	<ul class="global-nav__items">
	{% for item in menu %}
		<li class="global-nav__item {{ item.current ? 'is-active' }}">
			<a target="{{ item.target }}" href="{{ item.link }}" class="global-nav__link">
				{{ item.title }}
			</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
