{# js warning #}
<noscript>
  <div class="_text-c _text-color-tertiary section site-notice site-notice--warning">
    <strong>JavaScript seems to be disabled in your browser.</strong><br />
    You must have JavaScript enabled in your browser to utilize the full functionality of this website.
  </div>
</noscript>
{# /js warning #}

<!--[if lte IE 9]>
	<div class="_text-c _text-color-tertiary section site-notice site-notice--warning">
		<p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	</div>
<![endif]-->

{# site header #}
<header id="masthead" class="o-site-header js-site-header" role="banner">
  {# header wrap #}
  <div class="o-site-header__wrap">
    {# header logo #}
      <div class="o-site-header__logo">
        <a href="{{ site.url }}" rel="home">
          Logo
        </a>
      </div>
    {# /header logo #}
    {# header nav #}
      <nav class="o-global-nav" role="navigation">
        {% include "views/partials/global/global-nav-menu.twig" with {'main_navigation': menu.get_items} %}
      </nav>
    {# /header nav #}
    {# header meta #}
      <div class="o-site-header__meta">
        {% include "partials/social-icons.twig" %}
        
        <a href="JavaScript:Void(0)" id="js-toggle-search">
          <svg class="icon">
            <use xlink:href="#icon-search"></use>
          </svg>
        </a>
      </div>
    {# /header meta #}
    {# header toggle #}
      <div class="o-site-header__toggler">
        <button role="button" class="js-site-toggle-menu o-btn site-toggle-menu">
          <span class="_sr-hidden">Toggle Menu</span>
          <div class="hamburger-line"></div>
          <div class="hamburger-line"></div>
          <div class="hamburger-line"></div>
        </button>
      </div>
    {# /header toggle #}
  </div>
  {# /header wrap #}
</header>
{# /site header #}