// - - - - - - - - - - - - - - - - - - - - - - - - -
// Object: _global-nav
// - - - - - - - - - - - - - - - - - - - - - - - - -

.o-global-nav {
  &__items {
    display: flex;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: rem-calc(10); 
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1.8rem;
  }
}