// - - - - - - - - - - - - - - - - - - - - - - - - -
// Object: _site-header
// - - - - - - - - - - - - - - - - - - - - - - - - -

.o-site-header {
  width: 100%;
  padding-top: rem-calc(18);
  padding-bottom: rem-calc(18);
  background-color: $palette-secondary;

  &__wrap {
    @include flex-grid-row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: rem-calc(25);
    padding-left: rem-calc(10);
  }

  &__toggler {
    display: none;

    @include breakpoint(small only) {
      display: block;
    }
  }

  &__toggle {
    margin: 0;
    border: 0;
    border-radius: 0;
    outline: none;
    position: absolute;
    top: -8px;
    right: 15px;
    background-color: $palette-accent;
    padding: rem-calc(10 15);

    &.is-active {
      opacity: 0.5;
    }
  }
}