<ul class="o-social-icons o-unstyled-list">
  <li class="o-social-icons__icon">
    <a href="{{ options.facebook_url }}" target="_blank" rel="noopener">
      <svg class="icon">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="o-social-icons__icon">
    <a href="{{ options.twitter_url }}" target="_blank" rel="noopener">
      <svg class="icon">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li class="o-social-icons__icon">
    <a href="{{ options.instagram_url }}" target="_blank" rel="noopener">
      <svg class="icon">
        <use xlink:href="#icon-instagram"></use>
      </svg>
    </a>
  </li>
</ul>